:root {
  --color-primary: #34c94b;
  --color-white: #ffffff;
  --color-black: #121212;
}

@font-face {
  font-family: 'Poppins';
  src: url('./fonts/Poppins-Regular.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Poppins';
  src: url('./fonts/Poppins-Bold.ttf') format('truetype');
  font-weight: 700;
}


body {
  background-color: var(--color-black);   /*now use above 3 theme colours as a variable in whole project's css*/
  color: var(--color-white);
  font-family: 'Poppins', sans-serif;
  line-height: 1.5;
  overflow-x: hidden;
  margin: 0;
  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
