 .design{
     width: 170px;
     height: 47px;
     top: 13px;
     font-family: 'Poppins', sans - serif;
     padding: 10px 16px 10px 16px;
     gap: 10px;
     border-radius: 12px;    
     font-family: "Poppins";
     font-weight: 600;
    font-size: 14px;
    line-height: 27px;
    letter-spacing: 0.25px;
    text-align: center;
    color:#34C94B;
    background-color: black;
 }
 .design:hover{
    cursor: pointer;
 }